.nav-class ul #list-item a:focus{
  background-color: white;
  opacity:0.2px;
  border-radius: 20px;

}

.nav-class ul li a:active{
    color: black;
    text-decoration: none;
  
  }


  .mobile-menu-icon{
    display: none;
  }


  @media screen and (max-width:780px) {
    
    .nav-links{
      display: none;
    }

    .nav-links-mobile{
      position: absolute;
      display: block;
      list-style: none;
      background-color:#0C2647;
      left: 0;
      top: 75px;
      transition:  all 0.5s ease-in-out;
      width: 100%;
      color: red;
    }
    
    .nav-links-mobile li{
      color: white;
      text-align: center;
      padding: 15px;
      width: 100%;
      transition: all 0.2s ease;
      border-bottom: 2px solid rgb(145, 145, 145);
    }
    .mobile-menu-icon{
      display: block;
      position: absolute;
      font-size: 30px;
      border: none;
      outline: none;
      top:650px;
      right: 10px;
      color: white;
      width: 50px;

    }
  }